body{
    font-size: 28px; 
}
.vermelho{
    color: red;
}
.verde{
    color: green
}
.amarelo{
    color: yellow;
}
.azul{
    color: blue;
}
.cian{
    color: cyan;
}
.rosa{
    color: pink;
}
.roxo{
    color: purple;
}
.marrom{
    color: brown;
}
